node_modules/

test/
__tests__
docs
logs
tsconfig.json
tslint.json
.travis.yml
.editorconfig
.gitignore
.gitattributes

coverage
.nyc_output
*.tgz
*.ts
!*.d.ts
test.js
test.d.ts
cli.d.ts
index.js

*.js.map
jsdoc.json
gulpfile.*
yarn.lock
yarn-error.log
.babelrc
.prettierignore
.prettierrc
jest.config.js
